#spring.datasource.url=jdbc:h2:tcp://localhost/~/test
#spring.datasource.driver-class-name=org.h2.Driver
#spring.datasource.username=sa
#
#spring.jpa.hibernate.hbm2ddl-auto=update

spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/test
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      hbm2ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
server:
  servlet:
    session:
      tracking-modes: cookie
      timeout: 60
