.modifybar {
    width: 100%;
    display: grid;
    grid-template-columns: 1.3fr 5fr 1fr 1fr;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
}

.colorBLUE {
    color: #1751EC
}

.colorGRAY {
    color: #B9B9B9
}

.submitClass {
    text-align: right;
}

.addClass>span:hover {
    cursor: pointer;
}

.clearClass>span:hover {
    cursor: pointer;
}

.submitClass>span:hover {
    cursor: pointer;
}